<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Maiseret menuiserie</title>
    <meta name="description" content="Maiseret menuiserie, bois, pvc, réparations et travaux Calvados">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta name="description" content="">
    <link rel="stylesheet" href="app.css">
    <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="headerEdition" >
    <i class="fa-solid fa-pen-to-square"></i>
    <p>Mode administrateur</p>
</div>
<header>

    <img src="logo.png" class="logo"/>
    <nav>
        <ul>
            <li id="loginHeader">
                <a id="lienLogin" href="/logout">DÉCONNEXION</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section id="introduction" style="display: none">
        <img src="image-works.png" alt="" class="image-landing">
        <article>
            <h2>MEUNUISIER PROFESSIONNEL</h2>
            <p>MES VALEURS EN TANT QUE MNR ENTREPRISE</p>
        </article>
    </section>
    <section id="portfolio">
        <div class="boutonModifier3">
            <h2>TRAVAUX RÉALISÉS</h2>
            <a href="#modal_gallery_photo" class="open_modal boutonModifier">
                <i class="fa-regular fa-pen-to-square"></i> Gérer les travaux
            </a>
        </div>
        <nav class="allFilters">
            <ul id="filters">
                <li class="filter-category" data-category="Tous">Tous</li>
                {% for category in categories %}
                    <li class="filter-category" data-category="{{ category }}">{{ category }}</li>
                {% endfor %}
            </ul>
        </nav>

        <div class="gallery works-list" id="works-list">
            {% for work in works %}
                <div class="work-card">
                    <img class="work-image" src="./uploads/images/{{ work.image }}"></img>
                    <span class="work-date">{{ work.date|date('d/m/Y') }}</span>
                    <span class="work-title">{{ work.title }}</span>
                </div>
            {% endfor %}
        </div>


    </section>

    <!--MODALE 1-->
    <aside id="modal_gallery_photo" class="modal" aria-hidden="true" role="dialog" aria-modal="false" aria-labelledby="titleModal" style="display: none">
        <div class="modal1_wrapper js-modal-stop" >
            <nav id="nav_modal1">
                <i class="fa-solid fa-xmark closebutton_modal"></i>
            </nav>
            <div class="modal_wrapper">
                <h3 id="titleModal">Galerie photo</h3>
                <div class="miniatures_projets">
                    <!--Projets générés en JS dans modal.js-->
                </div>
                <a href="/add-work" id="button_ajouter_photo" class="button_modal open-modal2">Ajouter une photo</a>
                <button id="button_supprimer_galerie">Supprimer la galerie</button>
            </div>
        </div>
    </aside>

</main>
<script src="{{ asset('js/filter.js') }}"></script>
<script src="{{ asset('js/delete-all.js') }}"></script>

</body>
</html>


<!-- RETIRER LE LOGIN ET LE METTRE DANS LE FOOTER AVEC INFO ENTREPRISE -->