{# templates/pages/landingpage.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Maiseret menuiserie</title>
    <meta name="description" content="Maiseret menuiserie, bois, pvc, réparations et travaux Calvados">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta name="description" content="">
    <link rel="stylesheet" href="app.css">
    <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <img src="logo.png" class="logo"/>
    <nav>
        <ul class="ul-nav">
            <li>
                <a href="#projets" class="link-in-nav">RÉALISATIONS</a>
            </li>
            <li>
                <a href="#contact" class="link-in-nav">CONTACT</a>
            </li>
            <li id="loginHeader">
                <a id="lienLogin" href="/login" class="link-in-nav">LOGIN</a>
            </li>
            <li id="logout" class="link-in-nav">LOGOUT</li>
        </ul>
    </nav>
</header>
<main>
    <section id="introduction">
        <!-- Carrousel des commentaires -->
        <div class="carousel-container">
            <button class="carousel-button prev" onclick="moveSlide(-1)">&#10094;</button>
            <div class="carousel-slides">
                <div class="carousel-slide">
                    <span class="stars-container">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <p>"Merci au menuisier Quentin (MNR rénovation) pour son professionnalisme, il a fait un boulot de dingue!!!"</p>
                    <cite>- Maison Adeli</cite>
                </div>
                <div class="carousel-slide">
                    <span class="stars-container">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <p>"Nous sommes à 100% satisfaits de chacun des travaux de menuiserie qui ont été réalisés dans notre maison : installation d'un plan de travail, pose de fenêtre, traitement et rénovation de plancher. Je ne peux que le recommander !"</p>
                    <cite>- Arold MAUGER</cite>
                </div>
                <div class="carousel-slide">
                    <span class="stars-container">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <p>5 étoiles pour MNR Rénovation</p>

                    <cite>- Madeline MARIE</cite>
                </div>
            </div>
            <button class="carousel-button next" onclick="moveSlide(1)">&#10095;</button>
        </div>

        <!-- Image en dessous du carrousel -->
        <img src="car3.png" alt="Image car3" />
    </section>


    <section id="portfolio">
        <div class="boutonModifier3">
            <h2 id="projets">TRAVAUX RÉALISÉS</h2>
        </div>
        <nav class="allFilters">
            <ul id="filters">
                <li class="filter-category" data-category="Tous">Tous</li>
                {% for category in categories %}
                    <li class="filter-category" data-category="{{ category }}">{{ category }}</li>
                {% endfor %}
            </ul>
        </nav>

        <div class="gallery works-list" id="works-list">
            {% for work in works %}
                <div class="work-card">
                    <img class="work-image" src="./uploads/images/{{ work.image }}"></img>
                    <div class="title-container">
                        <span class="work-date">{{ work.date|date('d/m/Y') }}</span>
                        <span class="work-title">{{ work.title }}</span>
                    </div>
                    {% if work.status is not empty %}
                        <div class="etiquette-container {% if work.status == 'Avant' %}etiquette-avant{% elseif work.status == 'Après' %}etiquette-apres{% endif %}">
                            <span class="etiquette">{{ work.status }}</span>
                    </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

    </section>
    <section id="contact">
        <h2 id="contact">Contact</h2>
        <p>Vous avez un projet ? Discutons-en !</p>


        <a href="mailto:aroldmauger2022@gmail.com?subject=Demande%20de%20devis&body=Bonjour,%0A%0AVeuillez%20trouver%20ci-dessous%20les%20détails%20de%20ma%20demande%20de%20devis%20:%0A%0ANom%20:%20%0AEmail%20:%20%0AMessage%20:%20%0A%0ABien%20cordialement,">Demander un devis par email</a>

    </section>
</main>
<script src="{{ asset('js/filter.js') }}"></script>
<script src="{{ asset('js/carousel.js') }}"></script>

</body>
</html>
