{# templates/pages/landingpage.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Maiseret menuiserie</title>
    <meta name="description" content="Maiseret menuiserie, bois, pvc, réparations et travaux Calvados">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta name="description" content="">
    <link rel="stylesheet" href="app.css">
    <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <img src="logo.png" class="logo"/>
    <nav>
        <ul>
            <li>
                <a href="#projets">PROJETS</a>
            </li>
            <li>
                <a href="#contact">CONTACT</a>
            </li>
            <li id="loginHeader"><a id="lienLogin" href="/login">LOGIN</a></li>
            <li id="logout">LOGOUT</li>
        </ul>
    </nav>
</header>
<main>
    <section id="introduction" style="display: none">
        <img src="image-works.png" alt="" class="image-landing">
        <article>
            <h2>MEUNUISIER PROFESSIONNEL</h2>
            <p>MES VALEURS EN TANT QUE MNR ENTREPRISE</p>
        </article>
    </section>
    <section id="portfolio">
        <div class="boutonModifier3">
            <h2 id="projets">TRAVAUX RÉALISÉS</h2>
            <a href="#modal_gallery_photo" class="open_modal boutonModifier" style="display: none">
                <i class="fa-regular fa-pen-to-square"></i> modifier
            </a>
        </div>
        <nav class="allFilters">
            <ul id="filters">
                <li class="filter-category" data-category="Tous">Tous</li>
                {% for category in categories %}
                    <li class="filter-category" data-category="{{ category }}">{{ category }}</li>
                {% endfor %}
            </ul>
        </nav>

        <div class="gallery works-list" id="works-list">
            {% for work in works %}
                <div class="work-card">
                    <img class="work-image" src="./uploads/images/{{ work.image }}"></img>
                    <span class="work-date">{{ work.date|date('d/m/Y') }}</span>
                    <span class="work-title">{{ work.title }}</span>
                </div>
            {% endfor %}
        </div>

    </section>
    <section id="contact">
        <h2 id="contact">Contact</h2>
        <p>Vous avez un projet ? Discutons-en !</p>


        <a href="mailto:aroldmauger2022@gmail.com?subject=Demande%20de%20devis&body=Bonjour,%0A%0AVeuillez%20trouver%20ci-dessous%20les%20détails%20de%20ma%20demande%20de%20devis%20:%0A%0ANom%20:%20%0AEmail%20:%20%0AMessage%20:%20%0A%0ABien%20cordialement,">Demander un devis par email</a>

    </section>
</main>
<script src="{{ asset('js/filter.js') }}"></script>
</body>
</html>
